@keyframes bg--scale {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }

}
.scale-object{
    animation: bg--scale 2s linear infinite;
}
 
@keyframes logo {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-300%);
    }
}
.animate-logo{
    animation: logo linear infinite 10s;
}

/*         
@keyframes open{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
.open{
    animation: open 500ms linear;
} */
/* @keyframes overlay{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-200%);
    }
}
.close{
    animation: overlay 500ms linear forwards;
} */

/* .open{
    transform: translateX(0%);
}
.close{
    transform: translateX(-100%);
} */